<div class="app-component">
  <div class="component-header">
    <h3>Testing</h3>
    <p>
      Every component, service, pipe, etc. should have a spec file with unit tests.<br>
      These tests can be run by the <i>ng test</i> command.
    </p>
    <p>
      It is most important to test the function (logic) in components and services.<br>
      Changes in the templates can also be tested.
    </p>
    <p>
      See the different spec files in this project to find samples of how to write the tests.
    </p>
  </div>
</div>
