<div class="app">
  <div class="component-header">
    <h2>Angular examples</h2>
    <span>Choose a topic to see the samples:</span>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/databinding" routerLinkActive="active">Databinding</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/directives" routerLinkActive="active">Directives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pipes" routerLinkActive="active">Pipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/component-interaction" routerLinkActive="active">Component interaction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bootstrap" routerLinkActive="active">Bootstrap</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/routing" routerLinkActive="active">Routing</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>

<!-- component interaction: pass value from child to parent-->
<!--//pipes: angular & eigene-->
<!--//services-->
<!--// http services-->
<!--// testing-->
